@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0,0,0,400);
  background-image: url(bg3.jpg);
}

.spelling-wrapper{
  display: flex;
  width: 200%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title h1{
  color: white;
  margin: 0 auto;
  flex-wrap: nowrap;
  font-size: clamp(3rem, 5vw, 5.5rem);
  font-family:  'Shadows Into Light', cursive;
  color: gold;
}


@media screen and (min-width:700px){
  #title h1{
    display: inline-block;
    text-align: center;
    font-size: clamp(3.5rem, 5vw, 5rem);
  } 

}

@media screen and (min-width:350px){
  #title h1{
    display: inline-block;
    text-align: center;
    font-size: clamp(4.5rem, 5vw, 3rem);
  } 

}

@media screen and (min-width:100px){
  #title h1{
    display: inline-block;
    font-size: clamp(1.5rem, 5vw, 3rem);
  } 

}

@media screen and (min-width:50px){
  #title h1{
    display: inline-block;
    font-size: clamp(1.5rem, 5vw, 3rem);
  } 

}

#navbar{
  position: fixed;
  width: 100%;
  height: 100px;
  margin: 0;
  top: 0%;
  left: 0%;
  opacity: 0.8;
  margin-top: 0px;
  z-index: 1;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.nav-wrapper{
    display: flex;
    margin: 0;
    align-items: center; 
    height: 100px;
}

.fas-bars {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-right: auto;
}


.menu-bars{
  margin: 0;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

#nav-menu{
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 850ms;
  opacity: 0.8;
  z-index: 10000;
  background: linear-gradient(135deg, rgba(63, 5, 64, 0.1), rgba(92, 8, 100, 10));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(193, 234, 8, 0.37);
}

#nav-menu.active{
  left: 0;
  transition: 350ms;
}

#nav-menu-bar{
  margin: 0;
  margin-left: 5px;
}
#nav-menu-bar1{
  margin:0;
}
.nav-text{
  list-style: none;
}

.nav-text a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(247, 246, 248);
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  list-style: none;
  font-family:  'Shadows Into Light', cursive;
}

.nav-text:hover{
  transform: scale(1.08);
  cursor: pointer;
  transition-delay: 0s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-decoration: none;
  width: 95%;
}

.nav-menu-items{
  margin-bottom:55px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-icon{
  font-size: 16px;
  padding-right:10px;
  margin: 0;
  color: rgb(231, 169, 11);
}


#navbar-toggle{
  width: 96%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  transform: scale(1.08);
  cursor: pointer;
  transition-delay: 0s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid yellow;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  box-sizing: border-box;
}

#navbar-toggle h1{
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#navbar-toggle a{
  text-decoration: none;

}

.image-container{
  display: flex;
  justify-content: space-between;
  flex: 1;
  display: none;
}

#bee-icon {
  /* object-fit: contain; */
  width: 30%;
  height: auto;
  position: relative;
  left: 0%;
  top: -400px;
  margin: 0%;
  z-index: 1;
  animation: pulse 2s infinite;
  overflow-y: hidden;
}

#bee-icon2{
  display: none;
  width: 30%;
  height: auto;
  position: relative;
  right: 2%;
  top: -420px;
  margin: 0%;
  z-index: 1;
  animation: pulse 2s infinite;
  overflow-y: hidden;
}
@media screen and (max-width:600px) {
  #bee-icon{
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width:770px) {
  #bee-icon{
    width: 30%;
    height: auto;
  }
}
@media screen and (max-width:750px) {
  #bee-icon{
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.start-quiz-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.starter-wrapper{
  max-width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px 30px;
  border-radius: 30px;
  background: #fff;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#start-btn { 
  font-family:  'Shadows Into Light', cursive;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 500;
  color: #007bff;
  cursor: pointer;
}

.info-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 200%;

}
#info-box {
  display: flex;
  position: absolute;
  left: 25%;
  top: 20%;
  background: #F3AAAA; 
  background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); 
  background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
  background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%);
  background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
  background: linear-gradient(top, #F3AAAA 0%,#febf04 100%);
  background-color: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  max-width: 50%;
  height: 80%;
  padding: 5%; 
}
#tagger{
  font-size: clamp(1.7rem, 5vw, 1rem);
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  margin-top: -10%;
  font-family: 'Bacasime Antique', serif;
}
.instruct-wrapper{
  display: grid;
  place-items: center;
  border: 1px solid rgb(12, 11, 11);
  background: black;
  height: 35vh;
  overflow-y: auto;
}

#instruct{
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  position: relative;
  margin-top: -5%;
  font-family: 'Bacasime Antique', serif;
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-align: center;  
  color: gold;
  font-style: italic;
  padding: 5%;
}



/* .item {
  display: flex;
  margin: 0;
  position: relative;
  gap: 10px;
  max-width: 50%;
} */

.item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%; 
  gap: 10px;
  max-width: 100%;
  margin: 0; 
}
img{
  animation: none
}
/* p {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 40px;
  font-size: 12px;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}
 p{
 margin-left: -50%;
} */
#one{
  position: relative;
  object-fit: contain;
  width: 50%;
  height: auto;
  left: 50%;
  margin-top: 10%;
  animation: none;
}
/* #one-p{
  left: -15px;
  top: 50px;
} */
#two{
  position: relative;
  width: 65%;
  height: auto;
  left: 15%;
  margin-top: 5%;
  animation: none;
}
/* #two ~ p{
  margin-left: -5%;
  margin-top: -6%;
} */
#three{
  position: relative;
  width: 75%;
  height:auto;

  animation: none;
}
/* #three-p{
  margin-left: 40%;
  margin-top: -6.3%;
} */
#one:hover, #two:hover, #three:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
  cursor: pointer;
}
.launch-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#start-quiz-btn {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-width: 100px;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#exit{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255, 0));
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
  height: 70%;
  text-align: center;
  z-index: 4;
  padding: 10%;
 
}
.result-btns {
  width: 30%;
  height: 12%; 
  bottom: 26%;
}
#replay-btn{
/* This is the Container for the Replay Button */
  display: flex;
 justify-content: center;
 position: absolute;
 width: 16%;
 height: 10%;
 border: none;
 background-color: #fbf7fd;
 bottom: 26%; 
 left: 5%; 
 border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999999999999999;
}

#replay{
  position: relative;
  top: 10%;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: #ee9696;
  cursor: pointer;
  outline: none;
 }

#quit-btn {
  /* This is the container for the quit button */
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 16%;
  height: 10%;
  background-color: #fbf7fd;
  cursor: pointer;
  bottom: 50%;
  left: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999999999999999;
}

#quit{
  position: relative;
  top: 10%;
  font-family: 'Shadows Into Light', cursive;
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: #ee9696;
  cursor: pointer;
  outline: none;
  z-index: 9999999999999999;
}

#spell-check{
  /* This is the container for the Review button */
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 16%;
  height: 10%;
  border: none;
  background-color: #fbf7fd;
  color: #ee9696;
  cursor: pointer;
  outline: none;
  border: none;
  bottom: 38%;
  left: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999999999999999;
}

#review{
  position: relative;
  top: 10%; 
  cursor: pointer;
  font-family: 'Shadows Into Light', cursive;
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: #ee9696;
  cursor: pointer;
  outline: none;
}


#score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 35%;
  margin-top: -10%;
  width: 30%;
  padding: 3%;
  position: relative;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: bold;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid #007bff;
  background-color: #fdf8fb;
  color: brown;
  opacity: 0.7;
  box-shadow: rgba(51, 21, 223, 0.8) 0px 0px 10px;
  transition-duration: 0.4s;
  /* position: absolute; */
}

#suggestion-box{
  display: flex;
  position: absolute;
  margin: 0;
  bottom: 5%;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: 'Bacasime Antique', serif;
  left: 65%;
  width: 35%;
  height: 90%;
  visibility: hidden;
  color: rgb(104, 21, 21);
  z-index: 5;
  background: #F3AAAA;
  background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); 
  background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
  background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%);
  background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
  background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 10px;
  opacity: 0.9;
}
#suggestion-box.active {
  display: block;
}

#suggestion-box:active + #icon {
  display: block;
}

.bx{
  font-size: 1em;
}
#icon-wrapper{
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#icon {
  position: relative;
  left: 50%;

  margin-top:5%;
  color: red;
  cursor: pointer;
}
.suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  padding: 15px;
  /* border: 1px solid rgb(3, 2, 19); */
  border-radius: 5px;
  top: 5%;
  position: relative;
}

.suggestion:hover{
  color: #050a10;
  cursor: pointer;
}
/* QUIZ BOX */
 
.parent-container{
  position: relative;
}
.quiz-box-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-50%);
}
#quiz-box{
  width: 1400px; /* Set a fixed width for the quiz-box */
  max-width: 100%; /* Add a max-width for responsiveness */
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255, 0));
  backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  display: none;
  transition: ease-out 1s;
  z-index: 2;
}

.hidden {
  display: none;
}

/* #audio {
  display: inline;
  position: relative;
} */


#answer-box {
  font-size: 24px;
  margin: 0 auto;
  border-top-left-radius: 1px solid;
  padding-right: 10%;
  border-radius: 8px;
  margin-bottom: 18%;
  position: relative;
  width: 90%;
  left: 20px;
  bottom: 25px;
  right: 0;
  left: 0;
}

.meaning-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  margin-top: -14%;
  margin-left: 25%;
  width: 50%;
}
#wordMeaning{
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-weight: 400px;
  text-align: center;
  bottom: 50%;
  width: 80%;
  font-size:clamp(1rem, 5vw, 2rem);
  font-family:  'Shadows Into Light', cursive;
  font-style: italic;
  color: gold;
}

.timer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
}
#timer {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* position: relative; */
  font-size: 24px;
  bottom: 10%;
  color: gold;
  font-family:  'Shadows Into Light', cursive;
}

#next-btn{
  display: flex;
  font-size: 20px;
  border: none;
  background-color: #fbf7fd;
  color: #ee9696;
  cursor: pointer;
  margin-bottom: 16px;
  position: relative;
  width: 70px;
  height: 50px;
  border-radius: 10px;
}

input{
  position: relative;
  width: 40%;
  height: 30PX;
  padding: 20px;
  border-radius: 20px;
  border-color: bisque;
  box-shadow: 20px solid salmon ;
  left: 7%;
  top: 50px;
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  margin: auto;
  display: block;
  z-index: -1;
}

#canvas.active{
  visibility: visible;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#first #second #third #loser{
  object-fit: contain;
  position: absolute;
  bottom: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

#first {
  object-fit: fill;
  z-index: 4;
  display: none;
  width: 20%;
  height: 50%;
  position: absolute;
  margin-top: 1%;
  right: 40%;
  animation: zoomIn 2s;
}

#second {
  object-fit: fill;
  z-index: 3;
  display: none;
  width: 20%;
  height: 50%;
  position: absolute;
  margin-top: 1%;
  right: 39%;
  animation: zoomIn 2s;
}

#third {
  object-fit: contain;
  z-index: 2;
  display: none;
  width: 20%;
  height: 55%;
  position: absolute;
  bottom: 19%;
  right: 40%;
  animation: zoomIn 2s;
}

#loser {
  object-fit: fill;
  z-index: 1;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 12%;
  right: 35%;
  display: none;
  animation: bounceIn 2s;
}

::-webkit-scrollbar {
  width: 8px;
  }
  ::-webkit-scrollbar-button {
  background: rgb(229, 143, 82)
  }
  ::-webkit-scrollbar-thumb {
  background: #c26adb;
  border: 2px solid #fff;
  border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #685516d0;
  }

  ::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}